@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  padding: 120px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.salvar {
  padding: 8px 16px;
  margin: 16px auto 32px;
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  display: block;
  width: auto;
  border-radius: 4px;
}

.editar {
  font-weight: bold;
  padding: 8px 12px;
  margin: 0 8px 0 0;
  cursor: pointer;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.excluir {
  font-weight: bold;
  padding: 8px 12px;
  margin: 0 8px 0 0;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}


.item button { 
  margin-right: 8px; 
}


.item {
  margin-bottom: 10px;
}

#descricao, #nome, #contato{
  width: 50%;
  display: block;
  margin: 0 auto 10px;
  box-sizing: border-box;
}

.navbar{

    background-color: #1E4D43;
    padding: 15x;
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.novo-pedido{
  text-align: center;
  margin-top: 20px;
}

.atender{
  font-weight: bold;
  padding: 8px 12px;
  margin: 0 8px 0 0;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}